# Do not try to override below settings. To add additional settings at your own environments, use your ~/.npmrc
@def:registry=https://dps.artifactory.cec.lab.emc.com/artifactory/api/npm/dps-npm-public/
always-auth=true
engine-strict=false
strict-ssl=false
